table{
    border:1px solid black;    
}

table{
    border-collapse: collapse; /*para quitar el borde doble de la tabla*/
    width: 80%; /*80% de la pantall*/
    margin: 10px;
}

th, td{
    text-align: center;
    padding:5px;
    border:1px solid black;   
}

tr:nth-child(even){
    background-color:rgb(236, 230, 230) ;
}

tr:hover{
    background-color: rgb(228, 200, 200);
}


th{
    height: 20px;
    background-color: burlywood;
}

td{
    height: 40px;
    vertical-align: middle;
}