/* Aca se le dará estilo a todos los títulos */


h2{
    /* color:red; */
    color:hsl(50, 100%, 50%)
}

/* Acá se le dará estilo a todos los párrafos */





/* Acá se le dará estilo a todas las tablas */


/* Acá se le dará estilo general */

div{
    background-color: aqua;
    width:200px;
    height: 50px;
}