ul.desordenada{
    /* list-style-type:circle; */
    /* list-style-type:square; */
    list-style-image: url(img/huella.png);
}

ol.ordenada{
    /* list-style-type:circle; */
    list-style-type:lower-greek;
    
}

ul.desordenadaUno{
    /* list-style-type:circle; */
    /* list-style-type:square; */
    list-style-image: url(img/huella.png);
    list-style-position: inside;
}

ul.desordenadaDos{
    list-style-type: none;
    margin:0;
    padding:0;
}