div{
    width: 500px;
    /* height: 200px; */
    height: auto;
    border:2px solid black;
    padding: 20px;
    margin: 5px;  
}

p{
    text-indent: 50px;
    letter-spacing: 0.5px;
    line-height: 1.5; /* Está en formato factor */
    word-spacing: 1.5px;
    /* white-space: nowrap;  Este es polémico*/
}